.rich-text-container {
  font-family: var(--font-montserrat);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-montserrat);
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: normal;
  }
  h1 {
    font-size: 4rem; /* 40px if the base font-size is 16px */
    margin-top: 1.5em;
    margin-bottom: 0.5em;
  }

  h2 {
    font-size: 3.2rem; /* 32px */
    margin-top: 1.75em;
    margin-bottom: 0.75em;
  }

  h3 {
    font-size: 2.8rem; /* 28px */
    margin-top: 2em;
    margin-bottom: 1em;

    font-size: 1.8rem;
    letter-spacing: 0.12em;
    font-weight: 500;
  }

  h4 {
    font-size: 2.2rem; /* 24px */
    margin-top: 2.25em;
    margin-bottom: 1.25em;
  }

  h5 {
    font-size: 2rem; /* 20px */
    margin-top: 2.5em;
    margin-bottom: 1.5em;
  }

  h6 {
    font-size: 1.6rem; /* 16px, same as the body font-size */
    margin-top: 2.75em;
    margin-bottom: 1.75em;
  }

  ul,
  ol {
    list-style: disc;
    padding-left: 2rem;
    margin-top: 3rem;
    ::marker {
    }
    li {
      font-size: 1.6rem;
      padding-block: 1rem;
      line-height: 2.8rem;
    }
  }
  ol {
    list-style: decimal-leading-zero;
    margin-left: 2%;
  }

  a {
    color: blue;
    text-decoration: underline;
  }

  p {
    margin-bottom: 1rem;
  }
}
