@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-raleway);
}
h1 {
  font-size: clamp(3.2rem, 3.8vw, 4rem);
  font-weight: 600;
  letter-spacing: 0.06em;
  line-height: 1.25;
  @media all and (max-width: 350px) {
    font-size: clamp(2.7rem, 9vw, 3.2rem);
  }
}
h2 {
  font-size: 3.2rem;
  letter-spacing: 0.06em;
  font-weight: bold;
}
h3 {
  font-size: 1.8rem;
  letter-spacing: 0.12em;
  font-weight: 500;
}
h5 {
  font-size: 1.6rem;
  letter-spacing: 0.06em;
  font-weight: bold;
}
p {
  font-family: var(--font-montserrat);
  font-size: 1.6rem;
  line-height: 2.8rem;
}
.form-country-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-padding-start: 1.5rem;
}
.hero-image {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="text"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

.nav__item__link {
  position: relative;
  span {
    opacity: 0;
    transition: opacity 350ms ease;
  }
  &::before {
    content: "";
    position: absolute;
    bottom: -1.4rem;
    width: 0%;
    height: 0.2rem;
    left: 0;
    right: 0;
    background: #2f3047;
    border-radius: 25px;
    transition: width 350ms ease;
    margin-inline: auto;
  }

  &:hover {
    span {
      opacity: 1;
    }
    &::before {
      width: 90%;
    }
  }
}

.nav__item__active {
  span {
    opacity: 1;
  }
  &::before {
    width: 90%;
  }
}

.service__list__link {
  .service__list__link__item {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      bottom: -0.2rem;
      width: 0%;
      height: 0.1rem;
      left: 0;
      right: 0;
      opacity: 0.8;
      background: #fff;
      border-radius: 25px;
      transition: width 350ms ease;
      margin-inline: auto;
    }
  }
  &:hover {
    .service__list__link__item::before {
      width: 95%;
    }
  }
}

.button__link {
  border: solid;
  border-width: 2px;
}

.filter__flex > div:last-child {
  max-width: 15rem;
  margin-right: auto;
}
.filter__flex > div:nth-last-child(2) {
  max-width: 17rem;
}

.inner-border-container {
  position: absolute;
  top: 0;
  left: -15px;
  width: calc(100% + 30px);
  height: 100%;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects-inner-border-container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: calc(100% + 0px);
  height: calc(100% + -4vw);
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects-inner-border-element {
  background-color: transparent;
  width: calc(100% + 8vw);
  height: calc(100% + 8vw);
  border: 8vw solid;
  border-image-slice: 1;
  opacity: 0.5;
  mix-blend-mode: color-burn;
  /* border-width: 20px; */
  border-image-source: linear-gradient(
    220deg,
    rgba(72, 4, 248, 0.5) 0%,
    rgba(255, 74, 29, 0.5) 30%,
    rgba(249, 186, 23, 0.5) 70%,
    transparent 75%
  );
}

.inner-border-element {
  background-color: transparent;
  width: calc(100% + 30px);
  height: calc(100% + 30px);
  border: 30px solid;
  border-image-slice: 1;
  opacity: 0.5;
  /* border-width: 20px; */
  border-image-source: linear-gradient(
    220deg,
    rgba(72, 4, 248, 1) 16.19%,
    rgba(255, 74, 29, 1) 54.12%,
    rgba(249, 186, 23, 1) 83.85%,
    transparent 97.82%
  );
}
.inner-border-element-2 {
  width: calc(100% - 30px);
  border-image-source: linear-gradient(
    220deg,
    rgba(72, 4, 248, 1) 16.19%,
    rgba(255, 74, 29, 1) 37.5%,
    rgba(249, 186, 23, 1) 53.54%,
    transparent 97.82%
  );
}

.project-img {
  width: calc(100% - 8vw);
  height: calc(100% - 4vw);
  margin-top: 4vw;
  @media all and (min-width: 1024px) {
    margin-top: 0;
  }
}
.service-swiper {
  .swiper-slide {
    height: auto !important;
  }
}

@media all and (min-width: 512px) {
  .service-swiper {
    .swiper-slide {
      width: 359px;
    }
  }
}
.award-swiper {
  .swiper-slide {
    width: 255px;
  }
}

.services-swiper-scrollbar,
.award-scrollbar {
  height: 4px;
  background: rgba(47, 48, 71, 0.08);
  border-radius: 50px;
  display: none;
  left: 0 !important;
  width: 100% !important;
}
.award-scrollbar {
  display: block;
  width: calc(100vw - 30px);
  /* margin-inline: 5%; */
  .swiper-scrollbar-drag {
    height: 6px;
    border-radius: 50px;
    background: #6015ef;
    display: block;
    transform: translateY(-1px);
  }
}
.swiper-scrollbar-drag {
  height: 4;
  border-radius: 50px;
  background: #6015ef !important;
  display: none;
  .swiper-scrollbar-drag {
    height: 6px;
    transform: translateY(-1px);
  }
}

.project-pagination,
.testimonial-pagination,
.service-slideshow-pagination,
.project-pagination-outer {
  /* gap: 1 !important; */
  .swiper-pagination-bullet {
    height: 12px;
    width: 12px;
    background: transparent;
    border: 1.45px solid #fff;
    opacity: 1;
    border-radius: 50%;
  }
  .swiper-pagination-bullet-active {
    height: 12px;
    width: 12px;
    background: #fff;
    /* border: 1px solid #fff; */
  }
}
.testimonial-pagination,
.service-slideshow-pagination,
.project-pagination-outer {
  .swiper-pagination-bullet {
    border: 1.45px solid #5003b4;
    opacity: 1;
  }
  .swiper-pagination-bullet-active {
    border: 1.45px solid #6015ef;
    background: #6015ef;
  }
}

/* testimonial nav */
.next-testimonial,
.prev-testimonial {
  background: #fff;
  svg {
    path {
      fill: #6015ef;
    }
  }
}
.next-testimonial:not(.swiper-button-disabled),
.prev-testimonial:not(.swiper-button-disabled) {
  cursor: pointer;
}
.next-testimonial {
  background: #6015ef;
  transition: background 350ms ease;
  svg {
    path {
      fill: #fff;
    }
  }
}
.service-slideshow-swiper {
  padding-bottom: 35px;
}
.service-slideshow-swiper.swiper-container-horizontal > .swiper-pagination {
  position: absolute;
  bottom: 0;
}

.prev-project,
.prev-service-image {
  background: rgba(255, 255, 255, 0.65) !important;
}
.next-project,
.next-service-image {
  background: rgba(255, 255, 255, 0.65);
}

.next-project:not(.swiper-button-disabled),
.prev-project:not(.swiper-button-disabled),
.next-service-image:not(.swiper-button-disabled),
.prev-service-image:not(.swiper-button-disabled) {
  background: rgba(255, 255, 255, 1);
  cursor: pointer;
}

@media all and (min-width: 512px) {
  .services-swiper-scrollbar {
    width: 100%;
    margin-inline: auto;
    display: block;
  }
  .swiper-scrollbar-drag {
    height: 100%;
    /* width: calc(100vw-30px); */
    border-radius: 50px;
    background: #6015ef;
    display: block;
    /* width: 16.67% !important; */
  }
}
@media all and (min-width: 1024px) {
  .services-swiper-scrollbar,
  .award-scrollbar {
    margin-right: auto;
    margin-left: 0;
  }
}

.phones-container {
  aspect-ratio: 887 / 583;
}

.dots_g {
  opacity: 5e-2;
  clip-path: url(#SVGID_00000076605383410517914500000006904510927106359959_);
}

.about-color-border {
  width: calc(100% - 0px);
  height: calc(100% - 36px);

  @media all and (min-width: 512px) {
    width: calc(100% - 14px);
    height: calc(100% - 28px);
  }
  @media all and (min-width: 1024px) {
    /* note- max-width prevents calc on the width */
    width: calc(100% - 42px);
    height: calc(100% - 56px);
  }
}

/* projects animation */
@media all and (min-width: 1024px) {
  .project__container {
    .project__image {
      opacity: 0;
      transform: translateX(70%);
    }
    .counter__container {
      @media all and (min-width: 1024px) {
        overflow: hidden;
      }
    }
    .project__counter {
      opacity: 0;
      transform: translateX(-70%);
      transition: opacity 600ms ease 300ms,
        transform 1400ms cubic-bezier(0.75, 0.07, 0.3, 0.9) 400ms;
      @media all and (min-width: 1024px) {
        position: relative;
        top: 13%;
        max-width: 68px;
        min-width: 68px;
        transform: translateX(-70%) rotate(90deg);
      }
    }
    .project__text {
      transform: translateY(-60%);
      opacity: 0;
      transition: opacity 600ms ease 300ms,
        transform 1400ms cubic-bezier(0.75, 0.07, 0.3, 0.9) 400ms;
    }
    .project__btn {
      opacity: 0;
      transform: translateY(260%);
      transition: opacity 600ms ease 300ms,
        transform 1400ms cubic-bezier(0.75, 0.07, 0.3, 0.9) 400ms;
    }
  }
  .no-transition {
    .project__container {
      .project__image,
      .project__counter,
      .project__text,
      .project__btn {
        transition: none !important;
      }
    }
  }
}

/* move image from other side if clicking 'prev slide: */
@media all and (min-width: 1024px) {
  .swiper-slide-prev {
    .project__image {
      transform: translate(-50%);
      transition: opacity 600ms;
    }
  }
}

.swiper-slide-active {
  opacity: 1;
  .project__image {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 600ms ease 300ms,
      transform 1400ms cubic-bezier(0.75, 0.07, 0.3, 0.9) 400ms;
  }

  .project__counter {
    transform: translateX(0%);
    opacity: 1;
    @media all and (min-width: 1024px) {
      transform: translateX(-28%) rotate(90deg);
    }
  }

  .project__text {
    transform: translateY(0);
    opacity: 1;
  }
  .project__btn {
    transform: translateY(0);
    opacity: 1;
  }
}

.filterBtn__swiper {
  .swiper-slide:nth-child(1) {
    margin-left: 5%;
  }
  .swiper-slide:nth-last-child(1) {
    margin-right: 5%;
  }

  @media all and (min-width: 1024px) {
    .swiper-slide:nth-child(1) {
      margin-left: 0;
    }
    .swiper-slide:nth-last-child(1) {
      margin-right: 0;
    }
  }
}

.thumbMiniSwiper {
  .swiper-wrapper {
    .swiper-slide {
      width: fit-content !important;
    }
  }
}

.service-component-text {
  p {
    display: none;
  }
  p:first-child {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  @media all and (min-width: 1024px) {
    p:first-child {
      -webkit-line-clamp: 4;
    }
  }
}

.filterBtn__swiper--service-extras {
  .swiper-slide {
    width: fit-content !important;
    /* min-width: 27.8rem !important; */
  }
}
.scrollbar-and-text-container {
  position: relative;

  .your-after-element {
    &::after {
      position: absolute;
      content: "";
      right: 0;
      top: 0;
      height: 100%;
      width: 4px;
      background: #fff;
      opacity: 0.5;
      z-index: -1;
      border-radius: 50px;
      transform: translateX(-16%);
    }
  }
}

.portable--overflow {
  &::-webkit-scrollbar {
    transform: translateX(-100%);
    width: 5.9px;
    height: 4px;
    /* overflow-clip-margin: 20px; */
    background: transparent;
    border-radius: 100vh;
  }

  &::-webkit-scrollbar-track {
    border-radius: 100vh;
    width: 2px;
    height: 20px;
    padding: 20px;
  }

  &::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 100vh;
    width: 9px;
    height: 20px !important;
  }
}

.hidden--slide {
  display: none !important;
}

.filterBtn__swiper {
  padding-inline: 4rem;
  /* div:first-child {
    margin-left: 3rem !important;
  } */
}
.service-subcategory--swiper-container {
  .swiper-slide {
    opacity: 0 !important;
  }
  .swiper-slide-active {
    opacity: 1 !important;
  }
}
